.header {
    position: absolute;
    display: flow-root;
    width: 100%;
    z-index: 10;
    .top-nav {
        border-bottom: 1px solid rgba(255,255,255, 0.38);
        height: 34px;
        line-height: 34px;
    }
    .main-nav {
        border-bottom: 1px solid rgba(255,255,255,0.3);
        .navbar-brand {
            margin-right: auto;
            .logo {
                max-height: 90px;
            }
        }
        .nav-item {
            display: inline-block;
            padding: 15px 0;
            margin: 0;
            background-repeat: no-repeat;
            background-position: right;
            .nav-link {
                color: #ffffff;
                font-family: 'Lora', sans-serif;
                font-size: 14px;
                line-height: 29px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0px;
                text-transform: uppercase;
                vertical-align: middle;
                padding: 22px 18px 22px 18px;
                &.active {
                    border-radius: 0px;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                &:hover {
                    color: #ff4d40 !important;
                }
                &.btn-red {
                    &:hover {
                        background-color: #ffffff !important;
                    }
                }
            }
        }
    }
}


.footer {
    .footer-top {
        background-color: #383838;
    }
    .footer-bottom {
        background-color: #303030;
    }
}